{% extends 'base.html' %}
{% load bootstrap4 %}

{%block title %}Login Page {%endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h4>Login Page</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Login Form</h4>
                </div>
                <div class="card-body">
                    {% if form.errors %}
                    <p class="text-danger">Something went worng. Check username and password again!!</p>
                    {%else %}
                    <p>Login Now!</p>
                    {%endif %}
                    <form action="" method="POST" class="form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}   
                        <button type="submit" class="btn btn-primary">Login</button>
                        {% endbuttons%}
                    </form>
                   <p>Don't have an account? <a href="{% url 'account:register' %}">Register Now!</a></p>
                </div>
                <div class="card-footer">
                    <p><a href="{% url 'account:password_reset' %}">Forgotten your password?</a></p>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}