{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %} Forget Password {% endblock %}

{%block content %}
<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header text-center">
                <h4>Forget your password?</h4>

            </div>
            <div class="card-body">
                <p>Enter Mail to Obtain password</p>
                <form action="" method="POST" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {%buttons %}
                    <button type="submit" class="btn btn-primary">Send Mail</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}