<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Site</title>

    <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.css">
</head>
<body>

    {% include 'navbar.html' %}


    {% if messages %}
    {%for message in messages %}
    <div id="message" class="container">
        <div class="alert alert-{{message.tags}} alert-dismissible text-center" role="alert">
            <button class="close" type="button" data-dismiss="alert"> <span aria-hidden="true">&times;</span> </button>

            <strong>
                {%if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                Error:
                {% else %}
                {{message.tags|title}}
                {% endif %}
            </strong>

            !! {{message}}
        </div>
    </div>
    {%endfor %}
{%endif %}

  
    {% block content %}

                    

    {% endblock %}


    
</body>
</html>